<script>

    var utils = require('../../utils.js')
    export default {
        data: function () {
            return {
                fields: {
                    name: new utils.Field(),
                    alias: new utils.Field(),
                },
            }
        },
        props: ['page'],
        methods: {
            resetFields(){
                this.fields.name = utils.Field();
                this.fields.alias = utils.Field();
            },
            save: function (e) {


                this.resetFields();
                var local = this;
                this.$http.post('/api/pages/', this.page).then(function (request) {

                            this.page = request.data.data;
                            var eventHub = new Vue()
                            if (request.data.result)
                                this.$parent.$emit('noty', new utils.Noty('success', '<strong>Page</strong> saved with success', 3000, null));
                            else
                                this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));
                        },
                        function (request) {

                            this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));

                            for (var key in request.data.fields) {
                                var field = request.data.fields[key];

                                if (this.fields[key] != undefined)
                                    this.fields[key] = field;

                            }

                        });

                e.preventDefault();

            }

        }
    }
</script>