.brands {
  text-align: center;
  background-color: $brand-secondary;
  display: inline-block;
  width: 100%;

  .title {
    color: white;
    margin-top: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }

  .brand {
    margin-bottom: 50px;

  }
}