$contract-label: #83e7d5;

.contracts {

  .cell-label{
    background-color: #d7ede9;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #333;
  }
  .cell-value{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    font-weight: bold;
    background-color: #b7e9e0;
    color: #333;
  }

  .total-final{
    background-color: #133555;
    color: white;
  }

  .header {

    display: inline-block;
    background-color: $brand-secondary;
    width: 100%;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .panel-type {

    .panel-heading {

      .title {
        font-size: 16px;
      }
      .expander {
        float: right;
        font-size: 18px;
        position: relative;
        top: 2px;
        margin-left: 10px;
        cursor: pointer;
      }

      .amount {
        color: $contract-label;
        float: right;
      }
    }
  }

  .panel-contract {

    .panel-heading {

      display: inline-block;
      width: 100%;

      .title {
        padding-left: 0px;
      }
      .description {

      }

      .controls {
        padding-right: 0px;

        .expander {
          cursor: pointer;
        }
      }
    }

    .block{
      background-color: #d7ede9;
      display: inline-block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;

    }
  }
}