footer {
  display: table;
  background-color: #0f1010;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;

  .logo {
    background: url('../img/logo.png');
    width: 331px;
    height: 60px;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 30px;
  }

  .icon {
    font-size: 24px;
    color: white;
    display: inline-block;
    width: 40px;
    float: left;
    text-align: left;
    i{
      cursor: pointer;
      &:hover{
        color: $brand-secondary;
      }
    }
  }

  .address {

    padding-top: 50px;

    .text {
      padding-top: 7px;
      color: white;
      @include calc(width, '100% - 40px');
      float: right;
      padding-left: 0px;
      text-align: left;
    }
  }

  .phone {

    padding-top: 50px;

    .text {
      padding-top: 7px;
      color: white;
      @include calc(width, '100% - 40px');
      float: right;
      padding-left: 0px;
      text-align: left;
    }

  }

  .email {

    padding-top: 50px;

    .text {

      padding-top: 7px;
      position: relative;
      color: white;
      @include calc(width, '100% - 40px');
      float: right;
      padding-left: 0px;
      text-align: left;
    }

  }

  .facebook {

    padding-top: 50px;
  }

  @media (max-width: $screen-sm-max) {

    .logo {

      margin-left: 15px !important;
    }



  }

}