html, body {
  font-family: Lato, Arial, "Times New Roman";
  font-size: 14px;
  background-color: white;
  overflow-x: hidden;
  height: 100%;
  height: 100%;
  display: inline-table;
  width: 100%;
}

blockquote {

  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 11.5px 23px;
  margin: 0 0 23px;
  margin-left: 50px;
  font-size: 16.25px;
  border-left: 5px solid #93d5c9;
  font-size: 13px;
}

.uploads{

  display: inline-block;
  float: none !important;
}

.list-group-item-download {
  background-color: #133555;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  border-radius: 5px !important;
  height: 37px;
  color: white;
  display: inline-block;
  .remove {
    float: left;
    background-color: #ff2b5b;
    color: white;
    padding: 10px;
    left: -10px;
    position: relative;
    top: -5px;
    height: 35px;
    cursor: pointer;
  }

  .download {

    float: right;
    background-color: $brand-secondary;
    color: white;
    padding: 10px;
    right: -10px;
    position: relative;
    top: -5px;
    height: 35px;
    cursor: pointer;

  }
}

.btn-animated {

  i {
    position: relative;
    top: 0px;
    font-size: 18px;
    margin-right: 10px;
  }
}

#map {

  width: 100%;
  height: 200px;
}

.input-ico {
  .input-group-addon {
    background-color: #133555;
    color: white;
  }

  input {
    padding-left: 10px !important;
  }
  .mobile {
    font-size: 18px;
  }
}

.alert-primary {
  background-color: $brand-primary;
}

.app-container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;

  .view {
    min-height: 500px;
    text-align: center;
    display: table;
    width: 100%;

    .navigation {

      .title {

        .paper {
          margin-left: 15px;
          background: url('../img/paper_rip.png');
          background-size: contain;
          background-repeat: no-repeat;
          text-transform: uppercase;
          height: 60px;
          min-width: 500px;
          position: absolute;

          .title {
            position: relative;
            top: 14px;
            left: 70px;
            font-size: 18px;
            color: white;
            font-weight: bold;

          }
          i {
            margin-right: 10px;
          }
        }

      }

      .path {

        margin-left: 30px;
        color: $brand-primary;
        font-size: 11px;
        color: $brand-primary;
        position: relative;
        top: 40px;
        margin-bottom: 20px;

        i {
          font-size: 12px;
          margin-right: 10px;
        }

        a {
          cursor: pointer;
          font-weight: bold;
          text-transform: uppercase;

        }
      }
    }
  }

}

.btn-secondary {
  background-color: $brand-secondary;
  color: $brand-primary;

  &:hover {
    color: white;
  }
}

textarea:focus, input:focus {
  outline: none;
}

.checkbox-danger:checked:after {
  background-color: #e51c23 !important;
  border-color: #e51c23 !important;
}

.languages-control {
  position: relative;
  margin-right: 80px;
  top: -50px
}

.app-admin-container {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: $screen-xs-max) {

  .languages-wrapper {
    position: absolute;
    left: 100px;
    top: 10px;
    left: 230px;
    z-index: 2000;
    .languages-control {
      top: 0px;
    }

    .content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  blockquote {
    margin-left: 20px;
  }

}

.lg-wrapper {
  text-align: initial;
  display: inline-block;
  padding-bottom: 20px;
  width: 100%;

  .content {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (min-width: 1500px) {
  .lg-wrapper {
    text-align: initial;
    display: inline-block;
    padding-bottom: 20px;
    width: 1360px;
    .content {
      padding-left: 15px !important;
      padding-right: 15px !important;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
