.menu {
  padding-left: 60px;
  padding-right: 60px;
  height: 100%;
  width: 100%;
  background-color: $brand-primary;
  font-size: 13pt;
  display: table;
  position: relative;
  font-family: Lato;
  .item {
    cursor: pointer;
    text-align: center;
    left: 0px;
    top: -100px;
    position: relative;
    margin-bottom: 50px;

    .title {
      color: white;
      position: relative;
      top: 15px;
    }

    .icon {
      height: 182px;
      width: 182px;
      position: relative;

    }



    .lakeviews {
      background: url('../../img/buttons/home.png');
    }

    .lakeviews:hover {
      background: url('../../img/buttons/home_hover.png');
    }

    .insurances {
      background: url('../../img/buttons/insurances.png');
    }

    .insurances:hover {
      background: url('../../img/buttons/insurances_hover.png');
    }

    .heritage {
      background: url('../../img/buttons/heritage.png');
    }

    .heritage:hover {
      background: url('../../img/buttons/heritage_hover.png');
    }

    .services {
      background: url('../../img/buttons/services.png');
    }

    .services:hover {
      background: url('../../img/buttons/services_hover.png');
    }

  }
}

@media (max-width: $screen-lg-min) {

  .menu {
    padding-top: 20px;
    .item {
      top: 0px;
      .icon {
        background-size: contain;
        height: 120px;
        width: 120px;
        position: relative;

        &:hover{

          background-size: contain;
          height: 120px;
          width: 120px;
        }
      }

      .title {
        color: white;
        position: relative;
        top: 10px;
        font-size: 14px;
      }

    }
  }

}

@media (max-width: $screen-xs-max) {
  .menu {
    padding-top: 40px;

    .item {
      top: 0px !important;
      .icon {
        left: 0px !important;
        display: inline-block;
      }
    }

  }

}

@media (min-width: $screen-sm-min) {
  .item {
    .icon {
      left: 0px !important;
      display: inline-block;
      position: relative !important;

    }
  }

}


@media (min-width: $screen-lg-min) and (max-width: 1600px) {

  .menu {
    padding-top: 20px;
    .item {
      top: -90px;
      .icon {
        background-size: contain;
        height: 120px;
        width: 120px;
        position: relative;

        &:hover{

          background-size: contain;
          height: 120px;
          width: 120px;
        }
      }

      .title {
        color: white;
        position: relative;
        top: 10px;
        font-size: 14px;
      }

    }
  }

}

@media (min-width: $screen-lg-min) {
  .menu {
    text-align: center;
    height: 320px;

  }

}

