#wrap {
  margin: 0 auto;
}
.inner {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 40px;
}

.relative {
  position: relative;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* HEADER */
#wrap > header {
  background-color: #333;
  padding-bottom: 20px;
}

.logo {
  display: inline-block;
  font-size: 0;
  padding-top: 15px;
}

#navigation {
  position: relative;
  display: inline-block;

}

#menu-toggle {
  display: none;
  float: left;
}

/* HEADER > MENU */
#main-menu {
  float: right;
  font-size: 0;
  margin: 10px 0;
}

#main-menu > li {
  display: inline-block;
  margin-left: 0px;
  padding: 2px 0;
}

#main-menu > li.parent {
  background-image: url(../images/plus-gray.png);
  background-size: 7px 7px;
  background-repeat: no-repeat;
  background-position: left center;
}

#main-menu > li.parent > a {
  padding-left: 14px;
}

#main-menu > li > a {
  text-transform: uppercase;
  color: $brand-primary;
  font-size: 14px;
  line-height: 14px;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
}

#main-menu > li:hover > a,
#main-menu > li.active > a {
  color: $brand-secondary;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
  position: relative;
}

ul.sub-menu { /* level 2 */

  display: none;
  left: 0px;
  top: 15px;
  padding-top: 10px;
  position: absolute;
  z-index: 9999;
  padding-left: 0px;
  margin-left: 0px;
  width: 210px;
  text-align: left;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
  margin-top: -1px;
  padding-top: 0;
  left: 210px;
  top: 0px;
}

ul.sub-menu > li > a {
  background-color: #99d8cd;
  text-transform: uppercase;
  border-top: none;
  color: $brand-primary;
  display: block;
  font-size: 14px;
  line-height: 15px;
  padding: 10px 12px;
  text-decoration: none;
}

ul.sub-menu > li > ul {
  top: -2px !important;
}

ul.sub-menu > li > a:hover {
  background-color: $brand-secondary;
  color: $brand-primary;
}

ul.sub-menu > li:first-child {
  border-top: 3px solid $brand-primary;
}

ul.sub-menu ul.sub-menu > li:first-child {
  border-top: 3px solid $brand-primary;
}

ul.sub-menu > li:last-child > a {
  border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
  background-image: url(../images/arrow.png);
  background-size: 5px 9px;
  background-repeat: no-repeat;
  background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
  display: block; /* show the submenu */
}

@media all and (max-width: $screen-xs-max) {

  #navigation {
    width: 100%;
  }

  #navigation ul {
    width: 100%;
    width: 100%;
    padding-left: 15px;
    margin-left: 0px;
    padding: 0px;
    margin: 0px;
  }

  #main-menu li {
    position: relative;
    width: 100%;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    a {
      padding-left: 0px !important;
    }
  }

  ul.sub-menu {

    background-color: white;
    position: relative;
    top:0px !important;
    display: block !important;
  }

  ul.sub-menu > li {
    border-top: none !important;
    background-color: white !important;
    &:hover {
      background-color: white !important;
    }
    a {
      background-color: white !important;
    }
  }
  ul.sub-menu ul.sub-menu {
    margin-left: 0px !important;
    left: 0px !important;
    top:0px !important;
  }
}