
.navbar-container {
  width: 100%;
}

.navbar-toggle {
  z-index: 2000;
}

.navbar {

  font-family: Lato;
  font-size: 11pt;
  margin-bottom: 0px;
  border: none;
  box-shadow: none !important;
  width: 100%;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #eeeeee;
  color: #212121;
  border-bottom: 1px solid #239d87;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 14px;
  height: 50px;
  color: $brand-primary !important;
  text-align: center;
  .line {
    @include animation (all, 300ms, ease);
    width: 0%;
    height: 2px;
    background-color: $brand-secondary;
    position: relative;
    top: 45px;
    position: absolute;
  }

  &:hover {

    .line {
      @include animation (all, 300ms, ease);
      width: 90%;
      height: 2px;
      opacity: 1;
      position: absolute;
      top: 45px;
      left: 5%;
      background-color: $brand-secondary;
    }
  }
}

.navbar-nav > .active > a {
  background-color: transparent !important;
  .line {
    @include animation (all, 300ms, ease);

    display: inline-block;
    width: 90%;
    height: 2px;
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 5%;
    background-color: $brand-secondary;
  }

}

@media (max-width: $screen-xs-max) {

  .navbar-container {
    width: 100%;
    border-bottom: 2px solid #133555;
  }

  .navbar-header {

    .logo {
      position: absolute;
      background: url(../../img/logo.png);
      width: 250px;
      height: 37px;
      top: 7px;
      background-size: contain;
      display: inline-block;
      background-repeat: no-repeat;
      margin-bottom: 20px;

    }
    .logo2 {
      display: none;
    }
  }

  .navbar-nav > li > a, .navbar-nav > .active > a {
    text-align: left;
    &:hover {
      color: $brand-secondary !important;
      .line {
        display: none;
      }
    }

    .line {
      display: none;
    }
  }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .navbar-container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;

  }

  .navbar-header {
    width: 100%;
    float: none;
    .logo {
      position: relative;
      background: url('../../img/logo.png');
      width: 284px;
      height: 48px;
      background-size: contain;
      display: inline-block;
      background-repeat: no-repeat;
      margin-bottom: 20px;

    }
    .logo2 {
      display: none;
    }
  }

  .navbar-collapse.collapse {
    position: relative;
    display: inline-block !important;
    top: 0px;

  }

  .navbar-nav a {
    font-size: 12px !important;

  }

}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .navbar-container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;

  }
  .navbar-header {
    display: inline-block;
    float: none;
    .logo {
      position: relative;
      background: url('../../img/logo.png');
      width: 331px;
      height: 60px;
      background-size: contain;
      display: inline-block;
      background-repeat: no-repeat;
      margin-bottom: 20px;

    }
    .logo2 {
      display: none;
    }
  }

  .navbar-collapse.collapse {
    position: relative;
    display: inline-block !important;
    top: 0px;
    margin-left: 20px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .navbar-container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;

  }
  .navbar-header {
    display: inline-block;
    float: none;
    .logo {
      position: relative;
      background: url('../../img/logo.png');
      width: 331px;
      height: 60px;
      background-size: contain;
      display: inline-block;
      background-repeat: no-repeat;

    }
    .logo2 {
      display: none;
    }
  }

  .navbar-collapse.collapse {
    position: relative;
    display: inline-block !important;
    top: 0px;
    margin-left: 0px;
  }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: none !important;
}

.user-auth-control {

  i {
    margin-right: 10px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar-admin {
    height: 73px;
    border-bottom: 1px solid #83c8bb;

    .navbar-collapse {
      width: 100%;
      top: 0px;
      position: relative;
      left: 0px;
      margin-left: initial;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .nav-icons {
    height: 69px;
    margin-top: 0px;

    li:first-child {
      border-left: 1px solid #83c8bb;
      margin-left: 15px;
    }
    li {
      height: inherit;
      a {
        display: inline-block;
        padding: 14px 15px;

        i {
          font-size: 18px;
        }

        .title {
          font-size: 12px;
        }
      }

      &:hover {
        background-color: $brand-secondary;
        color: white;
        cursor: pointer;
        a {

          color: white;
          i, .title {
            color: white;
          }
        }

      }

      border-right: 1px solid #83c8bb;
    }
  }

}

/*NAVBAR ADMIN*/
@media (min-width: $screen-md-min) {
  .navbar-admin {
    height: 69px;
    border-bottom: 1px solid #83c8bb;

    .logo2 {
      position: relative;
      background: url('../../img/logo_single.png');
      width: 40px;
      height: 45px;
      background-size: contain;
      display: inline-block;
      background-repeat: no-repeat;
      top: 10px;
      left: 8px;

    }

    .navbar-header {
      float: left;

    }

    .navbar-collapse {
      @include calc(width, '100% - 40px');
      top: 0px;
      position: relative;
      margin-left: initial;
    }

    .nav-icons {
      height: 69px;
      margin-top: 0px;

      li:first-child {
        border-left: 1px solid #83c8bb;
        margin-left: 15px;
      }
      li {
        height: inherit;
        a {
          display: inline-block;
          padding: 14px 15px;

          i {
            font-size: 18px;
          }

          .title {
            font-size: 12px;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $brand-secondary;
          a {

            color: white;
            i, .title {
              color: white;
            }
          }

        }

        border-right: 1px solid #83c8bb;
      }
      .active {
        cursor: pointer;
        background-color: $brand-secondary;
        a {

          color: white;
          i, .title {
            color: white;
          }
        }

      }
    }

  }

}

@media (max-width: $screen-xs-max) {

  .navbar-admin {

    .logo2 {
      position: relative;
      background: url('../../img/logo_single.png');
      width: 40px;
      height: 45px;
      background-size: contain;
      display: inline-block;
      background-repeat: no-repeat;
      top: 5px;
      left: 5px;

    }

    .navbar-header {
      float: none;

    }
    .navbar-nav {

      li {

        a {

          i {
            display: none;
          }

          .title {
            font-size: 12px;
          }
        }

        border-right: 1px solid #83c8bb;
      }
    }

  }
}
