.news {
  text-align: center;
  display: inline-block;
  width: 100%;

  .title {
    margin-bottom: 30px;
  }
  .news-wrapper {

    text-align: center;
    .new {
      display: inline-block;

      margin-bottom: 50px;
      width: 290px;
      .title {
        text-align: justify;
        border-bottom: 1px solid $brand-secondary;
        margin-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        color: $brand-primary;
      }

      img {
        width: 100%;
        height: 190px;
      }
      .content {
        width: 290px;
        display: inline-block;
        text-align: justify;
      }

      .plus-wrapper {
        height: 60px;
        margin-top: 20px;
        .plus {

          background: url('../../img/icons/fanlac-site-brief-icones-20.png');
          width: 31px;
          height: 31px;
          background-size: cover;
          background-repeat: no-repeat;
          display: inline-block;
          cursor: pointer;

          &:hover {
            @include animation(all, 300ms, ease);
            width: 41px;
            height: 41px;

          }
        }

      }
    }

  }
}