.slider {
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  width: 100%;
  display: table;

  .img0 {
    background: url('../../img/backgrounds/img0.jpg');
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: $screen-xs-max) {
  .slider {
    display: none;

  }

}
