<template>
    <textarea :id="id" :name="id" v-model="field" :rows="rows"></textarea>
</template>

<script>
    export default
    {
        name:'ckeditor',
        props : ['id', 'rows', 'field', 'toolbar', 'heigth'],
        data: function(){
            return{

            }
        },
        methods: {
            'teste' : function(e){
                console.log(this.field);
            }
        },
        ready: function(){
            var local = this;
            CKEDITOR.replace(local.id, { toolbar: local.toolbar, height: local.height,
                filebrowserImageBrowseUrl: '/laravel-filemanager?type=Images',
                filebrowserImageUploadUrl: '/laravel-filemanager/upload?type=Images&_token={{csrf_token()}}',
                filebrowserBrowseUrl: '/laravel-filemanager?type=Files',
                filebrowserUploadUrl: '/laravel-filemanager/upload?type=Files&_token={{csrf_token()}}'
            });

            CKEDITOR.instances[local.id].on('change', function() {
                local.field = this.getData();
                console.log(local.field);
            });


        }
    }
</script>