.ui-widget.ui-widget-content {
  border: 1px solid #666666;
  position: relative;
  height: 2px;
  top: 10px;

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
  width: 15px;
  height: 15px;
  display: inherit;
  border-radius: 0px;
  background-color: #133555;
  position: relative;
  cursor: pointer;
  top: -7px;
  margin-left: -3px;

}

.slider-labels {
  width: 100%;
  background-color: red;
  top: 14px;
  position: relative;
  left: -5px;
  label {
    font-size: 12px;
    position: absolute;
    font-weight: bold;

  }
}