<script>

    var utils = require('../../utils.js')
    export default {
        data: function () {
            return {
                fields: {
                    name: new utils.Field(),
                    code: new utils.Field(),
                },
            }
        },
        props: ['language'],
        methods: {
            resetFields(){
                this.fields.name = utils.Field();
                this.fields.code = utils.Field();
            },
            save: function (e) {


                this.resetFields();
                var local = this;
                this.$http.post('/api/languages/', this.language).then(function (request) {

                            this.language = request.data.data;
                            var eventHub = new Vue()

                            this.$parent.$emit('noty', new utils.Noty('success', '<strong>Category</strong> saved with success', 3000, null));

                        },
                        function (request) {

                            for (var key in request.data.fields) {
                                var field = request.data.fields[key];

                                if (this.fields[key] != undefined)
                                    this.fields[key] = field;

                            }

                        });

                e.preventDefault();

            }

        },
        created: function () {

            console.log("created")
        },
        ready: function () {
            console.log("mounted");
        }
    }
</script>