<script>

    var utils = require('../../utils.js')
    export default {
        data: function () {
            return {
                loaded: false,
                loading: false,
                fields: {
                    apolice_number: new utils.Field(),
                    apolice_year: new utils.Field(),
                    first_name: new utils.Field(),
                    last_name: new utils.Field(),
                    date_birth: new utils.Field(),
                    address: new utils.Field(),
                    npa: new utils.Field(),
                    city: new utils.Field(),
                    country: new utils.Field(),
                    date_start: new utils.Field(),
                    date_end: new utils.Field(),
                },
                uploads: [],
                files: []
            }
        },
        props: ['contract'],
        methods: {
            resetFields(){
                this.fields.apolice_number = utils.Field();
                this.fields.apolice_year = utils.Field();
                this.fields.first_name = utils.Field();
                this.fields.last_name = utils.Field();
                this.fields.date_birth = utils.Field();
                this.fields.address = utils.Field();
                this.fields.npa = utils.Field();
                this.fields.city = utils.Field();
                this.fields.country = utils.Field();
                this.fields.date_start = utils.Field();
                this.fields.date_end = utils.Field();
            },
            save: function (e) {

                this.loading = true;
                this.resetFields();
                var local = this;

                var data = {contract: this.contract, files: this.uploads};
                delete data.contract.name;
                delete data.contract.status;
                delete data.contract.customer;

                this.$http.post('/api/contracts/', data).then(function (request) {

                            this.page = request.data.data;
                            var eventHub = new Vue()
                            if (request.data.result) {

                                local.contract = request.data.data;
                                local.$parent.$emit('noty', new utils.Noty('success', '<strong>Contract</strong> saved with success', 3000, null));

                                local.uploads = [];
                                //reset uploads
                                $("#uploads").val("");
                                //rebind files
                                local.reloadFiles();

                            } else
                                this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));

                            $("html, body").animate({scrollTop: 0}, '500');

                            this.loading = false;
                        },
                        function (request) {

                            local.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));

                            for (var key in request.data.fields) {
                                var field = request.data.fields[key];

                                key = key.replace("contract.", "");
                                if (this.fields[key] != undefined)
                                    this.fields[key] = field;

                            }

                            this.loading = false;

                            $("html, body").animate({scrollTop: 0}, '500');
                        });

                e.preventDefault();

            },
            reloadFiles: function () {

                var local = this;
                if (local.contract.id > 0) {
                    this.$http.get('/api/files/contract/' + this.contract.id).then(function (request) {

                        local.files = request.data;

                    }, function () {
                        this.$parent.$emit('noty', new utils.Noty('danger', "Error loading files", 3000, null));
                    })
                }
            },
            download: function (file) {

                window.open(file.data, '_blank');
            },
            remove: function (file) {

                this.uploads.$remove(file);
            },
            removeStorage: function (file) {
                console.log("remove");
                var local = this;
                this.$http.delete('/api/files/delete/' + file.id).then(function (request) {

                    if (request.data.result) {
                        local.reloadFiles();
                        this.$parent.$emit('noty', new utils.Noty('success', "File Removed", 3000, null));
                    }
                    else
                        this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));


                }, function (request) {
                    this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));
                })

            },
            copy: function () {

                var customer_id = $("#customers").val();
                var customer = $("#customers option[value=" + customer_id + "]").data('customer');

                //bind data
                this.contract.first_name = customer.first_name;
                this.contract.last_name = customer.last_name;
                this.contract.email = customer.email;
                this.contract.gender = customer.gender;
                this.contract.date_birth = customer.date_birth
                this.contract.country = customer.country;
                this.contract.address = customer.address;
                this.contract.city = customer.city;
                this.contract.npa = customer.npa;
            }

        },
        ready: function () {

            var local = this;
            this.loaded = true;
            local.reloadFiles();

            $("#alert_interval_days").slider({
                value: local.contract.alert_interval_days,
                min: 0,
                max: 180,
                step: 30
            }).each(function () {

                // Get the options for this slider
                var opt = $(this).data().uiSlider.options;

                // Get the number of possible values
                var vals = opt.max;

                // Space out values
                for (var i = 0; i <= vals; i += 30) {

                    var el = $('<label>' + (i) + '</label>').css('left', (i / vals * 100) + '%');

                    $("#alert_interval_days_labels").append(el);

                }

            });


            $("#alert_interval_days").on("slide", function (event, ui) {

                local.contract.alert_interval_days = ui.value;
            });

            $("#renew_interval_days").slider({
                value: local.contract.renew_interval_days,
                min: 0,
                max: 180,
                step: 30
            }).each(function () {

                // Get the options for this slider
                var opt = $(this).data().uiSlider.options;

                // Get the number of possible values
                var vals = opt.max;

                // Space out values
                for (var i = 0; i <= vals; i += 30) {

                    var el = $('<label>' + (i) + '</label>').css('left', (i / vals * 100) + '%');

                    $("#renew_interval_days_labels").append(el);

                }

            });

            $("#renew_interval_days").on("slide", function (event, ui) {

                local.contract.renew_interval_days = ui.value;
            });
            console.log("chosen");
            //Chosen
            $("#customers").chosen({no_results_text: "Oops, nothing found!"});
            $("#customers").on('change', function (event, params) {
                local.contract.customer_id = params.selected;
            });

            $("#insurances").chosen({no_results_text: "Oops, nothing found!"});
            $("#insurances").on('change', function (event, params) {
                local.contract.insurance_id = params.selected;
            });


            var max_size = 2;

            $("#uploads").bind('change', function () {

                if (this.files.length > 0) {

                    var upload_control = $(this);
                    $(this.files).each(function () {
                        var file = this;

                        if (file.type == "image/jpeg" ||
                                file.type == "image/png" ||
                                file.type == "application/pdf" ||
                                file.type.indexOf('word') >= 0 ||
                                file.type.indexOf('excel') >= 0 ||
                                file.type.indexOf('spreadsheet') >= 0) {

                            var size = file.size / 1024 / 1024;

                            if (size < max_size) {

                                var reader = new FileReader();
                                reader.onload = function (e) {

                                    var file_data = new utils.File();
                                    file_data.name = file.name;
                                    file_data.ext = file.name.substr(file.name.indexOf('.') + 1);
                                    file_data.data = reader.result;
                                    local.uploads.push(file_data);

                                }
                                reader.readAsDataURL(file);


                            }

                        }


                    });
                }
                $("#uploads").val("");
            });



        }

    }
</script>