<script>
    var utils = require('../../utils.js')

    export default {
        data: function () {
            return {
                loaded:false,
                data: [],
                params: {
                    skip: 0,
                    take: 100,
                    page: 0,
                    filters: {
                        apolice_number: '',
                        apolice_year: '',
                        date_start: '',
                        date_end: '',
                        customer: '',
                        name: '',
                        company: '',
                        type: '',
                        status: '',
                        managed: ''
                    },
                    sorts: {}
                },
                page: {
                    sizes: [10, 20, 50, 100],
                    pages: []
                }
            }
        },
        methods: {
            bind: function () {

                var local = this;
                this.$http.get('/api/contracts/all', {params: local.params}).then(function (request) {

                    local.setData(request.data.data, request.data.pages);

                }, function () {


                })
            },
            rebind: function () {
                console.log(this.params.filters.name);
                this.bind();

            },
            setData(records, pages){

                this.data = records;
                this.page.pages = [];

                for (var i = 0; i < pages; i++) {

                    this.page.pages.push(i);
                }

            },
            changeSize: function (size) {

                this.params.take = size;
                this.bind();
            },
            changePage: function (page) {
                this.params.page = page;
                this.params.skip = this.params.take * page;
                this.bind();
            },
            removeConfirm: function (item) {
                console.log("remove");
                z = this;
                $("html, body").animate({scrollTop: 0}, '500');
                this.$parent.$emit('noty', new utils.Noty('warning', 'Are you sure about to delete <strong>' + item.apolice_number + '</strong> Contract ?', null, 'removeContract(' + item.id + ')'));

            }

        },
        events: {
            removeContract: function (id) {

                this.$http.delete('/api/contracts/' + id).then(function (request) {

                    if (request.data.result) {
                        this.$parent.$emit('noty', new utils.Noty('success', 'Contract remove with success', 3000, null));
                        this.rebind();
                    }
                    else
                        this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));


                }, function (request) {

                    this.$parent.$emit('noty', new utils.Noty('danger', 'An error ocurred when removind the item', 3000, null));

                });
            }
        },
        ready: function () {
            this.loaded = true;
            this.rebind();
        }

    };


</script>
