<script>
    var utils = require('../../utils.js')

    export default {
        data: function () {
            return {
                loaded: false,
                data: [],
                params: {
                    skip: 0,
                    take: 100,
                    page: 0,
                    filters: {
                        name: '',
                        order: '',
                        reference: ''
                    },
                    sorts: {}
                },
                page: {
                    sizes: [10, 20, 50, 100],
                    pages: []
                }
            }
        },
        methods: {
            bind: function () {

                var local = this;
                this.$http.get('/api/insurance-types/all', {params: local.params}).then(function (request) {

                    local.setData(request.data.data, request.data.pages);

                }, function () {


                })
            },
            rebind: function () {

                this.bind();

            },
            setData(records, pages){

                this.data = records;
                this.page.pages = [];

                for (var i = 0; i < pages; i++) {

                    this.page.pages.push(i);
                }

            },
            changeSize: function (size) {

                this.params.take = size;
                this.bind();
            },
            changePage: function (page) {
                this.params.page = page;
                this.params.skip = this.params.take * page;
                this.bind();
            },
            removeConfirm: function (item) {
                console.log("remove");
                z = this;
                this.$parent.$emit('noty', new utils.Noty('warning', 'Are you sure about to delete <strong>' + item.name + '</strong> Insurance Type ?', null, 'removeInsuranceType(' + item.id + ')'));

            }

        },
        events: {
            removeInsuranceType: function (id) {

                this.$http.delete('/api/insurance-types/' + id).then(function (request) {

                    if (request.data.result) {
                        this.$parent.$emit('noty', new utils.Noty('success', 'Insurance Type remove with success', 3000, null));
                        this.rebind();
                    }
                    else
                        this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));


                }, function (request) {

                    this.$parent.$emit('noty', new utils.Noty('danger', 'An error ocurred when removind the item', 3000, null));

                });
            }
        },
        ready: function () {
            this.loaded = true;
            this.rebind();
        }

    };


</script>
