//Fonts
//fonts - font awesome
$fa-font-path:        "../fonts/font-awesome" !default;
@import "resources/assets/bower/font-awesome/scss/font-awesome";

//Fonts - lato
$lato-font-path: '../fonts';

@import "resources/assets/bower/lato/scss/lato";

//font awesome animated
@import "resources/assets/bower/font-awesome-animation/dist/font-awesome-animation";

//import jquery ui
@import "../../../plugins/jquery-ui/themes/base/theme.css";
//import chosen
@import "../../../plugins/chosen/chosen.min.css";

$brand-primary: #133555 !default;
$brand-secondary: #239d87;

/* Base */
@import 'theme/_variables.scss';

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'theme/_bootswatch.scss';


//Import Mixins
@import "mixins";
@import "utils";

@import "layout/index";
@import "layout/navbar";
@import "layout/slider";
@import "layout/menu";
@import "layout/news";
@import "layout/brands";
@import "layout/footer";
@import "auth/auth";
@import "layout/table";
@import "layout/menu-nav";
@import "components/slider";

//Components
@import "components/noty";
