//Fonts
//fonts - font awesome
$fa-font-path: "../fonts/font-awesome" !default;
@import "resources/assets/bower/font-awesome/scss/font-awesome";

//Fonts - lato
$lato-font-path: '../fonts';

@import "resources/assets/bower/lato/scss/lato";

//font awesome animated
@import "resources/assets/bower/font-awesome-animation/dist/font-awesome-animation";

$brand-primary: #133555 !default;
$brand-secondary: #239d87;

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

//Import Mixins
@import "mixins";
@import "utils";

//Components
@import "components/noty";
@import "layout/user-menu";
@import "layout/contracts";


.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{

  background-color: #133555 !important;
  color: white !important;
}

.btn-primary {
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover, &:focus{
    background-color: $brand-secondary;
    border-color: $brand-secondary;
  }
}



.panel-item {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 2px;
  background-color: $brand-secondary;
  color: white;
}

.panel-item-2 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.dinamic-50 {
  width: 50%;
  @include calc(width, '50% - 20px');
  display: inline-block;
  &.first {
    margin-right: 10px;
  }
}

@media (max-width: $screen-sm-max) {
  .download {

    @include calcImportant(width, '100% - 20px');
  }

  .dinamic-50 {
    width: 100%;

    float: left;
    &.first {
      margin-right: 00px;
    }
  }

}

.download {
  background-color: #133555;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  @include calc(width, '50% - 20px');
  a {
    text-align: center !important;
    background-color: #239d87;
    width: 40px;
    width: 30px;
    text-align: center;
    position: absolute;
    top: 0px;
    height: 100%;
    /* padding-top: 5px; */
    right: 0px;
    vertical-align: top;
    i {
      background-color: $brand-secondary;
      color: white;
      @include transform(translateY(50%))
    }
  }

  &.file{

    padding-left: 40px;
    .remove{
      cursor: pointer;
      left: 0px;
      background-color: #ba3b3b;

      i{
        background-color: #ba3b3b;
      }
    }
  }
}

.panel-primary {
  border-color: $brand-primary;

  .panel-heading {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;

    .panel-title {
      color: white;
    }
  }
}

//Layout
.space120 {
  height: 120px;
}

.top-bar.blue {
  background-color: #133555;
  border-bottom: 0px;

  i {
    color: $brand-secondary;
  }

  span {
    color: white;
  }
}

.app-hidden {
  opacity: 0;
  @include animation(all, 500ms, ease-in);
}

.app-visible {
  opacity: 1;
  @include animation(all, 500ms, ease-in);
}

//navbar logo
.navbar {
  margin-bottom: 0px !important;
  color: $brand-primary !important;

  background: none !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-brand > img {
  display: block;
  margin-top: 4px;
  width: 250px;
  top: -12px;
  position: relative;
}

@media (max-width: 767px) {
  .navbar-brand > img {
    width: 215px !important;

  }

}

.navbar-right {

  > li {
    position: relative;
    display: block;
    min-height: 40px;
  }

  @media (max-width: $screen-sm-max) {

    a {
      color: $brand-primary !important;
    }
  }
  .dropdown {
    > a {

      float: left;

    }

    > i {
      position: relative;
      font-size: 18px;
      top: 17px;
      margin-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    @media (max-width: $screen-sm-max) {
      > i {
        position: relative;
        font-size: 18px;
        top: 5px;
        margin-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.languages {

  span {
    padding-left: 0px;
    padding-right: 0px;
    a {
      background-color: transparent;

    }

    &.active {
      a {
        background-color: $brand-secondary;
        color: white;
      }
    }
  }
}

.user-menu {

  span {
    padding-left: 0px;
    padding-right: 0px;
    a {
      text-transform: uppercase;
      background-color: transparent;
      font-weight: bold;

    }
    a:hover {
      background-color: transparent;
    }

    &.active {
      a {
        color: white;
      }
    }

    &.login {
      i {
        color: rgb(181, 79, 79);
        margin-right: 10px;
      }

    }
  }
}

.fullwidthbanner {
  top: -60px;
}

//boxes

.green-boxe {
  cursor: pointer;
  padding: 20px 15px;
  background-color: $brand-primary;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  min-height: 270px;
}

.green-boxe:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.green-boxe i {
  font-size: 60px;
  margin-bottom: 15px;
  color: white;
}

.green-boxe h3 {
  color: $brand-secondary;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.green-boxe p {
  color: #fff;
}

.green-boxe a {
  color: #fff;
  font-size: 13px;
}

.green-boxe a i {
  font-size: 13px;
  margin: 0;
  margin-left: 3px;
}

.green-boxe a:hover {
  color: #fff;
  text-decoration: underline;
}

.green-boxe {

  .details {
    border-top: 2px solid #239d87;
    @include calc(width, '100% - 60px');
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 0px;

    i {

      float: right;
      font-size: 22px;
    }
  }

}

@media (max-width: $screen-sm-max) {

  .navbar {
    background-color: rgb(124, 226, 208) !important;
    .navbar-toggle {

      .icon-bar {
        background-color: $brand-primary !important;
      }
    }
  }
  .container > .navbar-header {
    a {
      margin-bottom: 10px;
    }
  }

  .fullwidthbanner {
    top: 0px;
  }

}

.page-list li a {

  text-transform: uppercase !important;
}