.chosen-container{
  width: 100% !important;
}

.white-color{
  color: white !important;
}
.fr {
  float: right;
}

.fl {
  float: left;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

/*Width*/
.w50p {
  width: 50%;
}

.w25p {
  width: 25%;
}
//font weigth
.bold {
  font-weight: bold;
}

//font size

.fs-40 {
  font-size: 40px;
}

//width
.wp100 {
  width: 100%;
}

//height
.h-80 {
  height: 80px;
}

.h-90 {
  height: 90px;
}

//MARGIN

.mg-top-20 {
  margin-top: 20px;
}

.mg-top-50 {
  margin-top: 50px;
}

//PADDING

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

//DISPLAY
.inline-block {
  display: inline-block;
}