.user-control {
  position: relative;
  top: -2px;
  .dropdown-menu {
    margin-top: 0;
    border: none;
    box-shadow: none;
  }

  @media (min-width: $screen-sm) {
    .dropdown-alerts {

      width: 300px !important;
      left: 0px;

      a {
        height: 71px;
      }
    }

    .dropdown-toggle {
      height: 71px;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max){
    .user-welcome {
      display: none;
    }

  }

  .user-logo {
    margin-left: 8px;
    width: 30px;
    border-radius: 3px;
  }

  .dropdown-menu {
    width: 100%;
  }
  .logout {
    i {
      color: $brand-danger;
      margin-right: 10px;
    }
  }
}