<script>

    var utils = require('../../utils.js')
    export default {
        data: function () {
            return {
                loaded: false,
                files: [],
                loading: false,
                uploads: [],
                fields: {
                    first_name: new utils.Field(),
                    last_name: new utils.Field(),
                    email: new utils.Field(),
                },
            }
        },
        props: ['user'],
        methods: {
            resetFields(){
                this.fields.first_name = utils.Field();
                this.fields.last_name = utils.Field();
                this.fields.email = utils.Field();
            },
            save: function (e) {


                this.loading = true;
                this.resetFields();
                var local = this;

                var data = {user: this.user, files: this.uploads};
                delete data.user.name;


                this.$http.post('/api/users/', data).then(function (request) {

                            this.page = request.data.data;
                            var eventHub = new Vue()
                            if (request.data.result) {
                                this.$parent.$emit('noty', new utils.Noty('success', '<strong>User</strong> saved with success', 3000, null));
                                local.uploads = [];
                                local.resetFields();
                            }
                            else
                                this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));

                            local.loading = false;

                            local.reloadFiles();
                            $("html, body").animate({scrollTop: 0}, '500');

                        },
                        function (request) {

                            this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));

                            for (var key in request.data.fields) {

                                var field = request.data.fields[key];

                                var key = key.replace("user.", "");
                                if (this.fields[key] != undefined)
                                    this.fields[key] = field;

                            }

                            local.loading = false;
                            local.reloadFiles();
                            $("html, body").animate({scrollTop: 0}, '500');

                        });

                e.preventDefault();

            },

            reloadFiles: function () {

                var local = this;
                if (local.user.id > 0) {
                    this.$http.get('/api/files/relocation/' + this.user.id).then(function (request) {

                        local.files = request.data;

                    }, function () {
                        this.$parent.$emit('noty', new utils.Noty('danger', "Error loading files", 3000, null));
                    })
                }
            },
            download: function (file) {

                window.open(file.data, '_blank');
            },
            remove: function (file) {

                this.uploads.$remove(file);
            },
            removeStorage: function (file) {
                console.log("remove");
                var local = this;
                this.$http.delete('/api/files/delete/' + file.id).then(function (request) {

                    if (request.data.result) {
                        local.reloadFiles();
                        this.$parent.$emit('noty', new utils.Noty('success', "File Removed", 3000, null));
                    }
                    else
                        this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));

                    $("html, body").animate({scrollTop: 0}, '500');
                }, function (request) {
                    this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));
                    $("html, body").animate({scrollTop: 0}, '500');
                })

            }
        },
        ready: function () {


            this.user.password = "";

            var local = this;
            var max_size = 2;

            $("#uploads").bind('change', function () {

                if (this.files.length > 0) {

                    var upload_control = $(this);
                    $(this.files).each(function () {
                        var file = this;

                        if (file.type == "image/jpeg" ||
                                file.type == "image/png" ||
                                file.type == "application/pdf" ||
                                file.type.indexOf('word') >= 0 ||
                                file.type.indexOf('excel') >= 0 ||
                                file.type.indexOf('spreadsheet') >= 0) {

                            var size = file.size / 1024 / 1024;

                            if (size < max_size) {

                                var reader = new FileReader();
                                reader.onload = function (e) {

                                    var file_data = new utils.File();
                                    file_data.name = file.name;
                                    file_data.ext = file.name.substr(file.name.indexOf('.') + 1);
                                    file_data.data = reader.result;
                                    local.uploads.push(file_data);

                                }
                                reader.readAsDataURL(file);


                            }

                        }


                    });
                }
                $("#uploads").val("");
            });


            local.reloadFiles();
            this.loaded = true;
        }
    }
</script>