@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,300italic,300);
/*
Template variables
*/
/* 
    Basics
*/
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin: 0;
  background-color: #fff;
  color: #777;
  -webkit-font-smoothing: antialiased !important;
}

a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #209b60;
}
a:hover {
  color: #aeaeae;
}

button {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button:focus {
  outline: 0 !important;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: 0 !important;
}

button:focus {
  outline: 0 !important;
}

.color_text {
  color: #209b60;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #333;
}

blockquote {
  font-size: 13px;
}
blockquote h5 {
  margin-top: 10px;
  font-weight: 600;
  color: #209b60;
}

/**spaces**/
.space10 {
  height: 10px;
}

.space20 {
  height: 20px;
}

.space30 {
  height: 30px;
}

.space40 {
  height: 40px;
}

.space50 {
  height: 50px;
}

.space60 {
  height: 60px;
}

.space70 {
  height: 70px;
}

.space80 {
  height: 80px;
}

/**margins**/
.margin-btm-10 {
  margin-bottom: 10px;
}

.margin-btm-20 {
  margin-bottom: 20px;
}

.margin-btm-30 {
  margin-bottom: 30px;
}

.margin-btm-40 {
  margin-bottom: 40px;
}

.margin-btm-50 {
  margin-bottom: 50px;
}

/**preloader**/
.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../images/loading.gif") no-repeat center center;
}

@media (min-width: 1200px) {
  body.boxed {
    background-color: #e9e9e9;
  }

  .wrapper-boxed {
    width: 1170px;
    margin: 0px auto;
    background: #fff;
    border-top: 3px solid #209b60;
  }
}
/*
Buttons style
*/
.buttons a {
  margin: 5px;
}

.btn {
  border: 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.btn i {
  margin-left: 5px;
}

.btn-lg {
  padding: 12px 25px;
}

.btn-link {
  color: #209b60;
}
.btn-link:hover {
  color: #999;
}

.btn-default {
  background-color: #eee;
  color: #333;
}
.btn-default:hover {
  background-color: #209b60;
  color: #fff;
}

.btn-skin {
  background-color: #209b60;
  color: #fff;
}
.btn-skin:hover {
  background-color: #333;
  color: #fff;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}
.btn-dark:hover {
  background-color: #209b60;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #333;
}
.btn-white:hover {
  background-color: #f3f3f3;
  color: #333;
}

.btn-border-dark {
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
}
.btn-border-dark:hover {
  color: #fff;
  background-color: #333;
}

.btn-border-skin {
  border: 2px solid #209b60;
  background-color: transparent;
  color: #209b60;
}
.btn-border-skin:hover {
  color: #fff;
  background-color: #209b60;
}

.btn-border-white {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.btn-border-white:hover {
  color: #333;
  background-color: #fff;
}

/*
Titles style
*/
.center-heading {
  text-align: center;
}
.center-heading h2 {
  text-transform: uppercase;
  font-weight: 700;
}
.center-heading .border-width {
  height: 1px;
  width: 90px;
  background-color: #209b60;
  display: block;
  margin: 10px auto;
}
.center-heading p {
  font-size: 16px;
}

.left-title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
}
.left-title:after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #209b60;
  position: absolute;
  left: 0;
  bottom: -10px;
}

/*
Icon boxes
*/
.blue-boxe {
  padding: 20px 15px;
  background-color: #209b60;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.blue-boxe:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.blue-boxe i {
  font-size: 60px;
  margin-bottom: 15px;
  color: #fff;
}
.blue-boxe h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.blue-boxe p {
  color: #fff;
}
.blue-boxe a {
  color: #fff;
  font-size: 13px;
}
.blue-boxe a i {
  font-size: 13px;
  margin: 0;
  margin-left: 3px;
}
.blue-boxe a:hover {
  color: #fff;
  text-decoration: underline;
}

.course-box {
  border: 1px solid #ddd;
}
.course-box .thumb {
  overflow: hidden;
  position: relative;
  display: block;
}
.course-box .thumb .price-tag {
  position: absolute;
  left: 0;
  top: 10px;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
}
.course-box .thumb .price-tag.skin {
  color: #fff;
  background-color: #209b60;
}
.course-box .course-desc {
  padding: 15px;
  padding-bottom: 0;
}
.course-box .course-desc h4 {
  margin-bottom: 5px;
}
.course-box .course-desc span {
  display: block;
}
.course-box .course-desc .desc-footer {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

/**event box**/
.event-box li {
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
}
.event-box li .date {
  float: left;
  width: auto;
  line-height: 35px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  margin-right: 20px;
  background-color: #209b60;
  font-weight: 700;
}
.event-box li .event-content {
  overflow: hidden;
}
.event-box li .event-content h4 {
  margin-bottom: 5px;
  color: #fff;
}
.event-box li .event-content p {
  margin: 0;
  color: #fff;
}

/*
Call to actions
*/
.cta-skin {
  background-color: #209b60;
  padding: 40px 0;
}
.cta-skin h3, .cta-skin p {
  color: #fff;
}

/*
Top bar style
*/
.top-bar {
  border-bottom: 1px solid #eee;
  padding: 6px 0;
}
.top-bar span {
  display: inline-block;
  line-height: 32px;
  padding: 0px 10px;
}
.top-bar span a {
  padding: 4px 10px;
  background-color: #f5f5f5;
  font-size: 12px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  display: block;
  margin-top: 3px;
  color: #209b60;
}
.top-bar span a:hover {
  color: #fff;
  background-color: #209b60;
}
.top-bar span a:hover i {
  color: #fff;
}
.top-bar span a.apply {
  color: #fff;
  background-color: #209b60;
}
.top-bar span a.apply i {
  color: #fff;
}
.top-bar span a.apply:hover {
  color: #fff;
  background-color: #333;
}
.top-bar span i {
  color: #209b60;
  margin-right: 5px;
}
.top-bar.dark {
  background-color: #444;
  border-bottom: 0px;
}
.top-bar.dark span {
  color: #eee;
}

/* 
    Navbar css
*/
.navbar-inverse {
  background: url("../images/pattern.png") repeat left top scroll;
  border: 0px;
  margin: 0px;
  padding: 0px 0;
}
.navbar-inverse .navbar-nav > li > a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-right .dropdown-menu {
    right: auto;
    left: auto;
  }

  .navbar-brand {
    height: 60px;
    line-height: 30px;
  }
}
.navbar-brand > img {
  display: block;
  margin-top: 4px;
}

/***light navigation**/
.navbar-default {
  background: url("../images/pattern-2.png") repeat left top scroll;
  border: 0px;
  margin: 0px;
  padding: 0px 0;
}
.navbar-default .navbar-nav > li > a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #333;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

/**search form**/
.search-toggle {
  position: relative;
}

.search-form {
  position: absolute;
  right: 0;
  width: 250px;
  top: 100%;
  padding: 5px;
  background-color: #209b60;
  display: none;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-toggle {
    border: 0px;
  }

  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
  }
}
/*
Dropdown css
*/
.dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 0px;
  min-width: 190px;
}
.dropdown-menu > li > a {
  padding: 7px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Open Sans", Arial, sans-serif;
}
.dropdown-menu > li > a:hover {
  color: #209b60;
}

/**third level menu**/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  content: "\f105";
  font-family: "FontAwesome";
  margin-top: 2px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/**mega menu**/
@media (max-width: 969px) {
  .yamm .yamm-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.yamm .yamm-content h3 {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  margin-bottom: 20px;
}
.yamm .yamm-content .mega-vertical-nav > li > a {
  padding: 7px 15px;
  color: #333;
  font-weight: 500;
  font-size: 13px;
  text-transform: capitalize;
  border-bottom: 1px solid #ddd;
  font-family: "Open Sans", Arial, sans-serif;
}
.yamm .yamm-content .mega-vertical-nav > li > a:hover {
  color: #209b60;
}
.yamm .yamm-content .mega-vertical-nav > li:last-child a {
  border-bottom: 0px;
}

.yamm .dropdown.yamm-fw .dropdown-menu.mega-menu {
  left: 0px;
  right: 0px;
}

@media (max-width: 767px) {
  .yamm .yamm-content h3 {
    color: #fff;
  }

  .yamm .yamm-content .mega-vertical-nav > li > a {
    border-bottom-color: rgba(255, 255, 255, 0.1);
    color: #eee;
  }
  .yamm .yamm-content .mega-vertical-nav > li > a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu > li > a {
    border-bottom-color: rgba(255, 255, 255, 0.1);
    color: #eee !important;
    padding: 8px 20px;
  }
  .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  .mega-vertical-nav {
    padding-bottom: 20px;
  }
}
/*
form-elements style
*/
.form-control {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  min-height: 45px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

/*
slider revolution
*/
.slider-title {
  font-family: "Open Sans", Arial, sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  text-transform: capitalize;
}

.slider-caption {
  color: #fff;
  font-size: 16px;
}

.rev-buttons .btn {
  padding: 14px 30px;
  color: #333;
  font-weight: 700;
  background-color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}
.rev-buttons .btn i {
  margin-left: 5px;
}
.rev-buttons .btn:hover {
  background-color: #209b60;
  color: #fff;
}

/*
Carousel slider
*/
.carouse_row {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.carouse_row .item {
  padding: 0px 15px;
}

#item-slider.owl-theme .owl-controls {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  margin-top: -41px;
  right: 10px;
  text-align: right;
}
#item-slider.owl-theme .owl-controls .owl-buttons div {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  background-color: #209b60;
}

.testi-slider.owl-theme img {
  margin-bottom: 15px;
}
.testi-slider.owl-theme p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}
.testi-slider.owl-theme h4 {
  color: #fff;
}
.testi-slider.owl-theme h4 em {
  color: #209b60;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
}
.testi-slider.owl-theme .owl-controls {
  position: absolute;
  right: 0;
  top: 20%;
  margin-top: -20px;
}
.testi-slider.owl-theme .owl-controls .owl-buttons div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background-color: #209b60;
}

.rating {
  color: #d3b663;
}

/* 
   Sidebar widget
*/
.sidebar-widget {
  margin-bottom: 30px;
}
.sidebar-widget h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
.sidebar-widget .list-unstyled {
  padding: 0;
  margin: 0;
}
.sidebar-widget .list-unstyled li {
  padding-bottom: 7px;
  vertical-align: middle;
}
.sidebar-widget .list-unstyled li a {
  font-size: 15px;
  display: block;
}
.sidebar-widget .list-unstyled li a:before {
  font-family: "FontAwesome";
  content: "\f101";
  margin-right: 10px;
}

.side-event {
  padding-bottom: 10px;
}
.side-event .s-event-date {
  float: left;
  margin-right: 15px;
  text-align: center;
  background-color: #eee;
  padding-bottom: 3px;
}
.side-event .s-event-date span {
  display: block;
  padding: 3px 5px;
  color: #fff;
  background-color: #209b60;
  margin-bottom: 3px;
}
.side-event .s-event-content {
  overflow: hidden;
}
.side-event .s-event-content h5 {
  margin: 0px;
}

.tag-list li {
  padding: 0px;
}
.tag-list li a {
  display: block;
  padding: 3px 5px;
  color: #999;
  border: 1px solid #ddd;
  margin-bottom: 3px;
}
.tag-list li a:hover {
  color: #209b60;
}

.contact-social li {
  padding: 0px;
}
.contact-social li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f5f5f5;
  color: #777;
  font-size: 24px;
}
.contact-social li a:hover {
  color: #fff;
  background: #209b60;
}

/* 
    tabs
*/
.course-tabs {
  padding-bottom: 30px;
}
.course-tabs li {
  margin-bottom: 10px;
}
.course-tabs li.active a {
  background-color: #209b60;
  color: #fff;
}
.course-tabs li a {
  display: block;
  padding: 5px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #f5f5f5;
  font-size: 14px;
  text-transform: uppercase;
}

/*
Blog style
*/
.post {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
}
.post h3 {
  margin-top: 15px;
}
.post h3 a {
  color: #000;
}
.post h3 a:hover {
  color: #209b60;
}

.comments li:nth-child(even) {
  padding: 15px;
  background-color: #f5f5f5;
  margin: 20px 0;
}
.comments .thumb {
  float: left;
  margin-right: 20px;
}
.comments .content {
  overflow: hidden;
}
.comments h5 {
  text-transform: capitalize;
  font-weight: 700;
}
.comments p {
  margin-bottom: 0px;
}

/*
Footer styles
*/
.footer {
  background-color: #222;
  padding: 40px 0;
  padding-bottom: 0px;
}
.footer h3 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", Arial, sans-serif;
}
.footer .form-control {
  border: 0px;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.footer p {
  color: #eee;
}
.footer ul.f-list {
  margin: 0;
  padding: 0;
}
.footer ul.f-list li:last-child a {
  border-bottom: 0px;
}
.footer ul.f-list li a {
  padding: 7px 0;
  color: #eee;
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  display: block;
  position: relative;
  padding-left: 15px;
}
.footer ul.f-list li a:after {
  content: "\f0da";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  top: 8px;
}
.footer ul.f-list li a:hover {
  color: #209b60;
}
.footer .footer-social li {
  padding: 0px;
}
.footer .footer-social li a {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 3px 5px;
}
.footer .footer-social li a:hover {
  color: #fff;
}
.footer .phone {
  font-size: 20px;
  color: #fff;
}
.footer .phone i {
  margin-right: 5px;
}
.footer p a {
  color: #fff;
}
.footer p a:hover {
  color: #209b60;
}
.footer .f-post li {
  padding-bottom: 5px;
  margin-bottom: 8px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
.footer .f-post li:last-child {
  border-bottom: 0;
}
.footer .f-post a.thumb {
  float: left;
  margin-right: 10px;
  display: block;
}
.footer .f-post .f-post-content {
  overflow: hidden;
}
.footer .f-post .f-post-content a {
  color: #fff;
  display: inline-block;
}
.footer .f-post .f-post-content a:hover {
  color: #209b60;
}
.footer .f-post .f-post-content em {
  display: block;
  color: #eee;
}
.footer.light {
  background: #fff;
}
.footer.light h3 {
  color: #333;
}
.footer.light .f-post li {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.footer.light .f-post li .f-post-content a {
  color: #000;
}
.footer.light .f-post li .f-post-content a:hover {
  color: #209b60;
}
.footer.light .f-post li .f-post-content em {
  color: #888;
}
.footer.light p {
  color: #888;
}
.footer.light a {
  color: #000;
}
.footer.light .footer-social li a {
  color: #777;
}
.footer.light .footer-social li a:hover {
  color: #209b60;
}
.footer.light ul.f-list li a {
  color: #888;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.footer.light ul.f-list li a:hover {
  color: #209b60;
}

.footer-bottom {
  padding: 15px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #eee;
}

.footer.light .footer-bottom {
  background-color: #eee;
  color: #888;
}

/*
Staff
*/
.staff h4 {
  text-transform: uppercase;
  margin-bottom: 3px;
}
.staff span {
  color: #209b60;
  display: block;
  font-style: italic;
}

/*
accordions
*/
.panel-group .panel {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.panel-default > .panel-heading {
  background: #fff;
}

.panel-title {
  color: #209b60;
}

.panel-group .panel .panel-heading .panel-title a:before {
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f107";
  margin-right: 5px;
}

.panel-group .panel .panel-heading .panel-title a.collapsed:before {
  content: "\f106";
}

.pattern-bg {
  background: url("../images/pattern.png") repeat;
  padding: 60px 0;
}
.pattern-bg .center-heading h2, .pattern-bg .center-heading p {
  color: #fff;
}
.pattern-bg h3 {
  color: #fff;
}
.pattern-bg h3:after {
  background-color: #fff;
}

.other-info {
  background: url("../images/pattern-2.png") repeat left top scroll #FFF;
}
.other-info h4 {
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 10px;
  border-left: 3px solid #209b60;
  margin-bottom: 30px;
}
.other-info ul {
  padding: 0px;
  margin-bottom: 0px;
}
.other-info .shaded-bg {
  background-color: #f3f3f3;
  padding-bottom: 30px;
  padding-top: 30px;
}
.other-info .white-bg {
  background-color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

.seminars li {
  padding-bottom: 10px;
}
.seminars li:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.seminars li h5 {
  margin-bottom: 5px;
  font-size: 18px;
}
.seminars li h5 a {
  color: #000;
}
.seminars li h5 a:hover {
  color: #209b60;
}
.seminars li .info {
  margin-bottom: 0px;
}
.seminars li p span {
  color: #209b60;
  font-weight: 700;
}

.latest-news {
  padding-bottom: 10px;
}
.latest-news .thumb {
  display: block;
  float: left;
  margin-right: 10px;
}
.latest-news .news-content {
  overflow: hidden;
}
.latest-news .news-content h5 {
  margin-bottom: 5px;
}

.newsletter-section {
  background: url("../images/pattern-2.png") repeat left top scroll #FFF;
  padding: 80px 0;
}
.newsletter-section form {
  text-align: center;
}
.newsletter-section .form-control {
  width: 290px;
  display: inline-block;
  min-height: 40px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.intro-video-section {
  background: url("../images/pattern-2.png") repeat left top scroll #FFF;
  padding: 80px 0;
}
.intro-video-section h1 {
  font-size: 50px;
  line-height: 55px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  color: #209b60;
}
.intro-video-section p {
  font-size: 18px;
}
.intro-video-section ul li {
  font-size: 16px;
  padding-top: 10px;
}
.intro-video-section ul li i {
  margin-right: 5px;
}

.video-bg-section {
  background-image: url("../images/poster.png");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.video-bg-section .mb_YTVPBar {
  display: none !important;
}
.video-bg-section .video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.video-bg-section h1 {
  color: #209b60;
  font-size: 50px;
  line-height: 60px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.video-bg-section p {
  margin-bottom: 20px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
.page-breadcrumb {
  background-color: #209b60;
  padding: 40px 0;
}
.page-breadcrumb h2 {
  margin: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.page-breadcrumb .breadcrumb {
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  background-color: transparent;
}
.page-breadcrumb .breadcrumb li {
  color: #eee;
}
.page-breadcrumb .breadcrumb li a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: block;
}
.page-breadcrumb .breadcrumb li a:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
}

.course-finder {
  padding: 20px 15px;
  padding-bottom: 10px;
  background-color: #f3f3f3;
  margin-top: 30px;
}
.course-finder .form-control, .course-finder .btn-skin {
  margin-bottom: 10px;
}

.table-courses th {
  background-color: #209b60;
  color: #fff;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #209b60;
  border-color: #209b60;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #209b60;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.events-row .side-event .s-event-content h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
.events-row .side-event .s-event-content p {
  margin: 5px 0;
}
.events-row .side-event .s-event-content p i {
  color: #209b60;
  margin-right: 7px;
}

/**login register**/
.form-group {
  position: relative;
}
.form-group .form-control {
  min-height: 45px;
}
.form-group .input-icon {
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}

.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hr-or {
  height: 1px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.btn-facebook {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  padding: 6px 12px;
}
.btn-facebook i {
  margin-right: 5px;
}
.btn-facebook:hover {
  color: #fff;
  opacity: 0.9;
}

.btn-twitter {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-twitter i {
  margin-right: 5px;
}
.btn-twitter:hover {
  color: #fff;
  opacity: 0.9;
}

.login_social a {
  margin-bottom: 5px;
}
