<script>

    var utils = require('../../utils.js')
    export default {
        data: function () {
            return {
                fields: {
                    name: new utils.Field(),
                    reference: new utils.Field(),
                },
            }
        },
        props: ['insurance'],
        methods: {
            resetFields(){
                this.fields.name = utils.Field();
                this.fields.reference = utils.Field();
            },
            save: function (e) {


                this.resetFields();
                var local = this;
                var data= this.insurance;
                delete data.type;
                delete data.insurance_type;

                this.$http.post('/api/insurances/', data).then(function (request) {

                            this.page = request.data.data;
                            var eventHub = new Vue()
                            if (request.data.result)
                                this.$parent.$emit('noty', new utils.Noty('success', '<strong>Insurance</strong> saved with success', 3000, null));
                            else
                                this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));
                        },
                        function (request) {

                            this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));

                            for (var key in request.data.fields) {
                                var field = request.data.fields[key];

                                if (this.fields[key] != undefined)
                                    this.fields[key] = field;

                            }

                        });

                e.preventDefault();

            },
        },

        ready:function () {
            var local = this;
            $('#ColorPicker').colorpicker('setValue', local.insurance.color);

            $('#ColorPicker').colorpicker().on('changeColor', function(e) {
                local.insurance.color = e.color.toHex();
            });


        }
    }
</script>