<script>

    var utils = require('../../utils.js')
    export default {
        data: function () {
            return {
                fields: {
                    reference: new utils.Field(),
                    value: new utils.Field(),
                },
            }
        },
        props: ['word'],
        methods: {
            resetFields(){
                this.fields.reference = utils.Field();
                this.fields.value = utils.Field();
            },
            save: function (e) {


                this.resetFields();
                var local = this;
                this.$http.post('/api/words/', this.word).then(function (request) {

                            this.word.id = request.data.data.id
                            var eventHub = new Vue()
                            if (request.data.result)
                                this.$parent.$emit('noty', new utils.Noty('success', '<strong>Word</strong> saved with success', 3000, null));
                            else
                                this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));
                        },
                        function (request) {

                            this.$parent.$emit('noty', new utils.Noty('danger', request.data.data, 3000, null));

                            for (var key in request.data.fields) {
                                var field = request.data.fields[key];

                                if (this.fields[key] != undefined)
                                    this.fields[key] = field;

                            }

                        });

                e.preventDefault();

            }

        }
    }
</script>